.title Reserva de Sala
%table#tbl-selectRoom.table.table-responsive.table-striped.table-bordered.tbl-selectRoom
  %thead
    %tr
      %th Horário
      %th Segunda
      %th Terça
      %th Quarta
      %th Quinta
      %th Sexta
  %tbody
    = ScheduleRenderer.new(@schedulings, @user).render
