- if current_user
  %nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        #navbar-body.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = current_user.name
            %li
              = form_for(:session, method:'delete', url: destroy_user_session_path) do |f|
                = f.submit "Log oout", class: "btn btn-default navbar-btn"
