- if current_user
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
      %div.navbar-text.navbar-right
        = form_for(:session, method:'delete', url: destroy_user_session_path) do |f|
          = f.submit "Log Out", class: "btn btn-default navbar-btn"
        #user-name.navbar-text.userName
          = current_user.name
        #user-id.navbar-text.hidden.userName
          = current_user.id
